services:
  postgres:
    image: postgres:latest
    container_name: sbd2-prf
    env_file:
      - ./.env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    container_name: sbd2-prf-pgadmin
    image: dpage/pgadmin4:latest
    env_file:
      - ./.env
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: